/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Proxima Nova Rg';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

sup{
	font-size: 5px;
	position: relative;
	top: -6px;
}


/* Header CSS */




.inner_header,
.left_header_area .social_links ul,
.right_header_area,
.cart_profile_area,
.right_header_area .menu_link .shop_tab,
.cart_box .cart_no,
.mega_menu,
.mega_menu .mega_menu_column .inner_column .child_column ul,
.mobile_mega_menu .accordion .card-header,
.mobile_mega_menu .accordion .card .mobile_social_links,
.search_box,
.inner_product_grid,
.inner_product_grid .inner_product_listing,
.inner_product_grid .inner_product_listing .product_box .quantity_button,
.add_cart_btn,
.inner_product_grid .filter_left_sidebar .close_filer_slider{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	box-sizing: border-box;
}

header{
    background: #000;
	position: relative;
}

.inner_header{
    background: #000;
    padding: 30px;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.left_header_area .social_links ul li a{
	color: #fff;
	text-decoration: none;
}

.left_header_area .social_links ul li:not(:last-child){
	margin-right: 12px;
}

.left_header_area .social_links ul li:not(:first-child) a svg{
	font-size: 18px;
}


.left_header_area .hamurger_area .menu_open svg,
.left_header_area .hamurger_area .menu_close svg{
	font-size: 36px;
	color: #cab681;
}

.left_header_area .hamurger_area .menu_open,
.left_header_area .hamurger_area .menu_close{
	display: none;
}

.right_header_area .menu_link .shop_tab{
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	margin-right: 65px;
	cursor: pointer;
}

.right_header_area .menu_link .shop_tab span,
.right_header_area .menu_link .shop_tab svg{
	color: #fff;
}

.right_header_area .menu_link .shop_tab svg{
	font-size: 22px;
	transition: 0.5s ease-in-out all;
}



.cart_box,
.profile_icon{
	cursor: pointer;
}

.cart_box{
	margin-right: 15px;
	position: relative;
}

.cart_box svg,
.profile_icon svg{
	color: #fff;
	font-size: 18px;
}

.cart_box .cart_no{
	background: #c9b081;
	color: #000;
	font-size: 11px;
	height: 17px;
	width: 17px;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	border-radius: 100%;
	border: 1px solid #000;
	position: absolute;
    top: -4px;
    right: -9px;
}

.profile_dropdown{
	background: #c9b081;
	position: absolute;
    top: 120%;
    right: 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease-in-out all;
}

.profile_dropdown.show{
	top: 100%;
	visibility: visible;
	opacity: 1;
}

.profile_dropdown ul li{
	padding: 25px 75px 25px 35px;
}

.profile_dropdown ul li a{
	color: #fff;
	text-decoration: none;
}

.mega_menu{
	position: absolute;
	top: 120%;
	left: 0;
	width: 100%;
	background: #cab681;
	font-size: 14px;
	padding: 30px 35px;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease-in-out all;
	z-index: 11;
}

.mega_menu.show{
	top: 100%;
	visibility: visible;
	opacity: 1;
}

.mega_menu .mega_menu_column{
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 15px 50px 15px 30px;
}

.mega_menu .mega_menu_column .column_heading{
	font-weight: 500;
	color: #fff;
	margin-bottom: 25px;
}

.mega_menu .mega_menu_column .inner_column .child_column ul{
	box-sizing: border-box;
	flex-wrap: wrap;
}

.mega_menu .mega_menu_column .inner_column .child_column ul li{
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 11px;
	padding: 0 5px;
}

.mega_menu .mega_menu_column .inner_column .child_column ul li a{
	color: #000;
}

.mega_menu .mega_menu_column.column2{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.shop_tab svg.rotation{
	transform: rotate(180deg);
}

.mobile_mega_menu{
	position: absolute;
	width: 100%;
	top: 100%;
	left: -100%;
	background: #cab681;
	height: calc(100vh - 81px);
	overflow-y: auto;
	transition: 0.65s ease-in-out all;
	z-index: 11;
}

.mobile_mega_menu.show{
	left: 0;
}

.mobile_mega_menu .accordion .card{
	background: transparent;
	border-radius: 0;
}

.mobile_mega_menu .accordion .card-header{
	background: transparent;
	border-radius: 0;
	color: #fff;
	-webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
}

.mobile_mega_menu .accordion .card-header svg{
	font-size: 20px;
	color: #fff;
}

.mobile_mega_menu .accordion .card-body{
	font-size: 14px;
	color: #fff;
}

.mobile_mega_menu .accordion .card-body h3{
	margin-bottom: 10px;
}

.mobile_mega_menu .accordion .card-body ul{
	margin-bottom: 20px;
}

.mobile_mega_menu .accordion .card-body ul li{
	margin-bottom: 8px;
}

.mobile_mega_menu .accordion .card-body ul li a{
	color: #000;
}


.mobile_mega_menu .accordion .card .custom_mobmenu_header{
	padding: 0.75rem 1.25rem;
}

.mobile_mega_menu .accordion .card .mobile_social_links li:not(:last-child){
	margin-right: 12px;
}

.mobile_mega_menu .accordion .card .mobile_social_links li a svg{
	font-size: 16px;
}

.mobile_mega_menu .accordion .card .mobile_social_links li:not(:first-child) a svg{
	font-size: 20px;
}

.mobile_mega_menu .accordion .card .mobile_social_links li a{
	color: #fff
}


/* Products List CSS */
.products_header{
	padding: 30px 35px;
	position: relative;
	border-bottom: 1px solid #d3d3d3;
}

.filter_toggle{
	cursor: pointer;
	display: none;
}

.filter_toggle svg{
	color: #c9b081;
	font-size: 20px;
}	

.products_header h2{
	text-align: center;
	color: #c9b081;
	font-size: 24px;
	font-weight: 500;
}

.search_box{
	/* width: 205px; */
	border: 1px solid #d3d3d3;
	height: 35px;
	-webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 35px;
	background: #fff;
}

.search_box svg{
	font-size: 18px;
	color: #d3d3d3;
	margin-right: 5px;
}

.search_box input{
	height: 33px;
	border: none;
	outline: none;
	box-shadow: none;
	width: 100%;
}

.search_box input:focus{
	border: none;
	outline: none;
	box-shadow: none;
}

.search_box input::placeholder{
	font-size: 14px;
	color: #d3d3d3;
}

.search_icon{
	cursor: pointer;
	display: none;
}

.search_icon svg{
	font-size: 22px;
	color: #c9b081;
}

.overlay{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.7;
	display: none;
}

.overlay.showOverlay{
	display: block;
}

.close_search{
	position: fixed;
	top: 40%;
	left: 70%;
	display: none;
	z-index: 10;
}

.close_search.show{
	display: block;
}

.close_search svg{
	font-size: 25px;
	color: #fff;
}

.inner_product_grid .filter_left_sidebar{
	flex: 0 0 20%;
	max-width: 20%;
	padding: 25px;
	/* border-top: 1px solid #d3d3d3; */
	border-right: 1px solid #d3d3d3;
	left: -300px;
	transition: 0.5s ease-in-out all;
}

.inner_product_grid .filter_left_sidebar.slidein{
	left: 0;
}

.inner_product_grid .filter_left_sidebar .close_filer_slider{
	height: 25px;
	width: 25px;
	background: #c9b081;
	display: none;
}

.inner_product_grid .filter_left_sidebar .close_filer_slider{
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	margin-left: auto;
	border-radius: 100px;
}

.inner_product_grid .filter_left_sidebar .close_filer_slider{
	color: #fff;
}


.inner_product_grid .filter_left_sidebar .sorting_div .sorting_header{
	padding: 15px 0;
	border-bottom: 1px solid #c9b081
}

.inner_product_grid .filter_left_sidebar .sorting_div .sorting_header h3{
	font-size: 14px;
	font-weight: 500;
	color: #c9b081;
}

.inner_product_grid .filter_left_sidebar .sorting_div .sorting_dropdown{
	margin-top: 20px;
}

.inner_product_grid .filter_left_sidebar .sorting_div .sorting_dropdown select{
	height: 40px;
	font-size: 14px;
	border: 1px solid #d3d3d3;
	border-radius: 0;
	padding: 10px;
	color: #d3d3d3;
	width: 100%;
}

.inner_product_grid .filter_left_sidebar .sorting_div .sorting_dropdown select:focus{
	box-shadow: none;
	outline: none;
}

.inner_product_grid .product_listing_panel{
	flex: 0 0 80%;
	max-width: 80%;
}

.inner_product_grid .inner_product_listing{
	flex-wrap: wrap;
}

.inner_product_grid .inner_product_listing .product_box{
	flex: 0 0 20%;
	max-width: 20%;
	padding: 20px 25px;
	border-bottom: 1px solid #d3d3d3;
}

.inner_product_grid .inner_product_listing .product_box:not(:nth-child(5n)){
	border-right: 1px solid #d3d3d3;
}




.inner_product_grid .inner_product_listing .product_box .product_img{
	cursor: pointer;
	margin-bottom: 10px;
	overflow: hidden;
}

.inner_product_grid .inner_product_listing .product_box .product_img img{
	width: 100%;
	height: auto;
	object-fit: cover;
	transition: 0.3s ease-in-out all;
}

.inner_product_grid .inner_product_listing .product_box .product_img img:nth-child(2){
	display: none;
}

.inner_product_grid .inner_product_listing .product_box .product_img:hover img:nth-child(1){
	display: none;
}

.inner_product_grid .inner_product_listing .product_box .product_img:hover img:nth-child(2){
	display: block;
	max-width: 100%;
}

.inner_product_grid .inner_product_listing .product_box .product_name h2{
	font-size: 14px;
	font-weight: 500;
	color: #000;
	height: 40px;
}

.inner_product_grid .inner_product_listing .product_box .sku_code p{
	font-size: 14px;
	font-weight: 500;
	color: #000;
	margin-bottom: 10px;
}

.inner_product_grid .inner_product_listing .product_box .product_price h2{
	font-size: 15px;
	font-weight: 600;
	color: #c9b081;
}

.inner_product_grid .inner_product_listing .product_box .quantity_button{
	width: 60px;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	border: 1px solid #d3d3d3;
	margin: 10px 0;
}

.inner_product_grid .inner_product_listing .product_box .quantity_button .quantity_btn,
.inner_product_grid .inner_product_listing .product_box .quantity_button input{
	width: 20px;
	height: 25px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	box-sizing: border-box;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.inner_product_grid .inner_product_listing .product_box .quantity_button .quantity_btn{
	color: #c9b081;
	text-decoration: none;
	font-weight: 600;
}

.inner_product_grid .inner_product_listing .product_box .quantity_button input{
	border: none;
	text-align: center;
}

.inner_product_grid .inner_product_listing .product_box .quantity_button input:focus{
	border: none;
	box-shadow: none;
	outline: none;
}


.add_cart_btn{
	font-size: 14px;
	-webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	color: #fff;
	width: 100%;
	background: #c9b081;
	padding: 12px 5px;
	cursor: pointer;
}

.add_cart_btn svg{
	font-size: 14px;
	color: #fff;
	margin-right: 15px;
}

.add_cart_btn span{
	display: block;
	line-height: 14px;
}










